<div id="<%= dom_id contact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= contact.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= contact.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= contact.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= contact.address %>
  </p>

</div>
